In [1]:
#add and remove from a tuple
tup1=(1,2,3,4)
list1=list(tup1)
list1

[1, 2, 3, 4]

In [2]:
list1.append(5)
list1

[1, 2, 3, 4, 5]

In [3]:
tup1=tuple(list1)
tup1

(1, 2, 3, 4, 5)

In [9]:
#remove()
tup2=(10,20,30,40,50)
list2=list(tup2)
list2

[10, 20, 30, 40, 50]

In [10]:
list2.remove(50)
list2

[10, 20, 30, 40]

In [11]:
tup2=tuple(list2)
tup2

(10, 20, 30, 40)